/* app css stylesheet */
/*
#ED6B86 watermelon
#463239 old burgandi
#7FB285 dark seagreen
#FAB3A9 Melon
Dark pink #E3597E
Vermilion #E34239
*/

/*

font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
*/

body{
  background-color:#463239;
  color:#ED6B86 ;
  font-family: 'Open Sans', sans-serif;
}

h3{
  color:#FAB3A9
}

.container{
  width:100vw;
}

/*
  Header
*/
.header{
  display:flex;
  justify-content: flex-start;
  align-items:center;
  height: 50px;

}

.header > .flex-item{
  flex: 1 0 auto;
  align-self: auto;
}

.header .links{
  display: flex;
  justify-content: flex-end;
}

/*
  ####################  Timer  #################
*/

.timerWrapper{
  display: flex;
  justify-content:flex-start;
  align-content: center;
  flex-wrap: wrap;
  min-height: 150px;
  flex-direction: column;
  flex:0 0 300px;
  background-color: #ED6B86
}

.timerWrapper .timer{
  flex:0 0 auto;
  text-align: center;

}

.timer h1{
  font-size: 80px;
  padding:25px 0;
  margin:0;
  font-family: 'Oswald', sans-serif;
  background-color:khaki;
}
.timer small{
  display: block;
  margin: 10px auto;
  font-size: 11px;
  color:khaki;
  letter-spacing: 2px;
  text-transform: uppercase;
}
h1.tdTime{
  color: #463239;

}
h1.brTime{
  color:#e8d950;
}

.timer .startTimerBtn{
  border: none;
color: #f0e68c;
background: #463239;
font-size: 13px;
text-transform: uppercase;
padding: 8px 20px;
box-shadow: 0px 0px 0px 1px #1c191a, 0px 0px 5px 4px #d3687e;
margin: 20px 0 0 auto;
letter-spacing: 1px;
font-family: Oswald, cursive;
transition: 0.3s all ease;
outline: none;
}

.timer .startTimerBtn:active{
  box-shadow:none;
  outline:none;

}
.timer .startTimerBtn[disabled]{
  cursor: not-allowed;
  background-color: #e1e1e1;
  color:#d8d8d8;
  box-shadow: none;
}

.timerWrapper .currenttask{
  position: relative;

  text-align: center;
}
.currenttask .line{
  position: absolute;
  left:-2px;
  top:0;
  height: 100%;
  width:2px;
  background-color: #529769;
  transition: all 60s linear;
}

.currenttask:hover .line{
  transform: scaleX(500);
}

.currenttask p{
  border: 1px solid #e25975;
  padding: 20px;
  background: #e0768c;
  font-weight: bold;
  font-size: 18px;
  margin:0 0 10px 0;
  box-shadow: -2px -2px 2px 0px #e6627e, 2px 2px 2px #e6627e;
  border-radius: 5px;
}

.currenttask p.currentTaskError{
  color:#463239
}

.currenttask .removeTaskBtn, .currenttask .completeBtn{
  border:0;
  background-color: #E34239;
  color:#f1f1f1;
  outline: none;
  font-size: 10px;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-radius: 5px;
}

.currenttask .completeBtn{
  background-color: #529769;
}

.timertask{
  margin:5px 25px;
  padding: 5px;
}


/*
  ####################  Content  #################
*/

.content{
  display: flex;
  justify-content:space-between;
  align-items:stretch;;
  flex-wrap: wrap;
  min-height:100vh;
}

.todos.flex-item{
  flex:1 0 50%;
}

.todoForm{
  padding:10px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin:0 50px;
}

.todoForm .form-group{
  display: flex;
  justify-content: space-between;;
  flex-direction: column;
  padding-right: 15px;
  flex: 1 0 auto;
  position: relative;
}

.form-group.task{
  flex:0 0 70%;
}

.form-group label{
  position: absolute;
  top:11px;
  left:10px;
  color: #ccc;
  font-weight: normal;
  font-size: 14px;
  transition: 0.3s all ease;
  pointer-events: none;
}
.form-group input:focus{
  outline:none;
}
.form-group input:focus + label, .form-group input:valid + label{
  top:-25px;
  color:gray
}

.form-group input{
  border:none;
  background-color: #716368;
  border-bottom:1px solid #ccc;
  padding:10px;
}

.submitBtn{
  align-self:stretch;
  flex: 0 0 10%
}

.todos h3{
  padding-left: 10px;
  margin: 30px 50px;
}
ul.todos{
  list-style: none;
  padding:0;
  margin:0 50px;
}
ul.todos li{
  padding:15px;
  border-bottom:1px solid #3a292f;
}
ul.todos li.current, ul.todos li.current:hover {
  background-color: #3a292f;
  font-style: italic;

}
ul.todos li.current p {
color: #f0e68c;
}
ul.todos li:hover p{

}
ul.todos li p{
  font-size:16px;
    color:#ED6B86;
  margin:0;
  cursor: pointer;
}

ul.todos li small{
font-size: 9px;
color: #af4d3b;
border-radius: 2px;
background-color: #35252b;
padding: 3px 7px;
font-weight: bold;
display: inline-block;
}

/*
  Completed TODOS
*/
.rightColumn{
  display: flex;
  justify-content:flex-start;
  flex-direction: column;

}
.rightColumn.flex-item{
  flex:1 0 20%;
  background-color: #3c2b31;
}

.rightColumn h3{
  margin:30px;
}

ul.ctasklist {
  list-style: none;
  margin: 0 30px;
  padding: 0;
}

ul.ctasklist p{
  margin:0;
  padding:5px 0;
  text-decoration: line-through;
  color: #7f797b;
  font-size: 14px;
}


/*
  Todo info
*/

.todoinfo{
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #7FB285;
  min-height: 70px;
}

.todoinfo div{
  flex: 1 0 auto;
  text-align: center;
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100%;
  color:#3b6540;
  font-family: Oswald, cursive;
  font-size: 50px;
}

.todoinfo div.of{
  background-color: #3c2b31;
  text-transform: capitalize;;
  color:#4e4045;
}
