/* Coolors Exported Palette - coolors.co/36b37d-54996b-ff9933-ff668c-ff4d40 */

/* HSL */
$color1: hsla(154%, 54%, 46%, 1);
$color2: hsla(140%, 29%, 46%, 1);
$color3: hsla(30%, 100%, 60%, 1);
$color4: hsla(345%, 100%, 70%, 1);
$color5: hsla(4%, 100%, 63%, 1);

/* RGB */
$color1: rgba(54, 179, 125, 1);
$color2: rgba(84, 153, 107, 1);
$color3: rgba(255, 153, 51, 1);
$color4: rgba(255, 102, 140, 1);
$color5: rgba(255, 77, 64, 1);